* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.header-content-wrapper {
    margin-inline: auto;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
}

p a {
    text-decoration: none;
    font-size: 24px;
    color: #808080;
}

.mode-button {
    padding: 10px;
}

.mode-button:hover {
    cursor: pointer;
}

.container i {
    font-size: 32px;
    position: absolute;
    color: grey;
    bottom: 40px;
    right: 0;

}

.container i:hover {
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.container {
    position: relative;
    width: 300px;
    margin-inline: auto;
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.01); */
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.name {
    padding: 20px 0px 10px 0px;
}

.border-list a {
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

p {
    line-height: 32px;
}

.text-box {
    padding-block: 20px;
}

.dark-primary {
    background: #2b3743;
    color: white;
}

.dark-secondary {
    background: #202d36;
    color: white;
}

.hide {
    display: none;
}

@media (min-width:800px) {
    .container {
        width: 80%;
    }

    .card {
        display: grid;
        grid-template-areas:
            ' image left right'
            ' image border border'
        ;
    }

    p {
        line-height: 32px;
    }

    .image {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: image;
    }

    .left-top {
        grid-area: left;
    }

    .right-bottom {
        grid-area: right;
        padding: 48px 20px;
        margin-top: 45px;
    }

    .borders {
        grid-area: border;
    }
}
